/* index.scss */

/* Estilos generales del contenedor */
.contenedor {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2; /* Cambia el fondo según tus preferencias */
    font-family: 'Coolvetica' !important;
  }
  
  /* Estilos de la sección de lenguajes */
  .lenguages-section {
    text-align: center;
    
  
    h1 {
      font-size: 24px;
      color: #333; /* Cambia el color del título según tus preferencias */
      margin-bottom: 20px;
    }
  
    /* Estilos generales del Swiper */
    .swiper-container {
      border: 1px solid #ccc;
    }
  
    .swiper-slide {
      background-color: #fff;
      border: 1px solid #999;
      padding: 20px;
    }
  
    /* Estilos para los botones de navegación */
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #0074D9;
      color: #fff;
      font-size: 16px;
    }
  
    /* Estilos para la paginación */
    .swiper-pagination-bullet {
      background-color: #0074D9;
    }
  
    /* Estilos para las tarjetas de lenguaje */
    .language-card {
      text-align: center;
  
      h2 {
        font-size: 20px;
        color: #333; /* Cambia el color del nombre del lenguaje según tus preferencias */
        margin: 10px 0;
      }
  
      img {
        max-width: 100px; /* Ajusta el tamaño de la imagen del logo según tus preferencias */
      }
    }
  }
  